#root {
    height: 100vh;
}

html {
    height: 100%;
}

/* ----------------------------- Top-Level Setup ---------------------------- */
.container-primary {
    width: 100%;
    height: 100%;
    padding: 0 24px;
}

.container-secondary {
    width: 100%;
    height: 100%;
    display: flex;
}





.table-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    padding-bottom: 12px;
    padding-top: 12px;
    cursor: pointer;
}

.table {
    display: flex;
    //float: left;
    width: 100%;
    flex-direction: column;
    //align-items: center;
}

.table-entries {
    overflow-y: scroll;
}

.table-header {
    width: calc(100% - 56px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 32px;
}

.table-header-section {
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 24px;
    padding-bottom: 12px;
}

.table-header-button {
    padding: 0;
    margin-left: 36px;
}

.table-header-button-disabled{
    padding: 0;
    margin-left: 12px;
    cursor: default;
}

.table-header-buttons {
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
}

.table-entry-buttons {
    padding: 0;
    margin-left: 36px;
    // margin-right: 18px;
}

.table-entry-buttons-disabled {
    padding: 0;
    margin-left: 36px;
}

.button-group {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sidebar-header {
    width: calc(100% - 48px);
    box-sizing: border-box;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 12px
}

.sidebar-options {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 0.5rem;
}

.sidebar-buttons {
    padding: 0;
}

.modal-input {
    width: 100%;
}

.modal {
    width: 450px;
    border-color: white;
    border-width: 2.0px;
}

.modal-col-gap{
    column-gap: 24px;
}

.modal-button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.modal-spacer {
    height: 24px;
}

.main-login-modal {
    padding: 24px 24px 0px 24px;
}

.modal-error {
    height: 24px;
    align-items: center;
    display: flex;
}
.delete-modal {
    width: fit-content;
}


.col-spacer {
    width: 24px;
    display: inline-block;
}

.wsidebar {
    overflow-y: scroll;
}

.list-item-edit, .table-input, .table-select {
    width: 100%;
}

.list-item-edit-input {
    padding: 23px 24px 24px 24px !important;
}

.table-input, .table-select {
    height: 100%;
    display: flex;
    align-items: center;
}

.table-input-class {    
    height: 100% important !important;
    padding-left: 1.2em;

}

.welcome{
    padding-left: 32%;
padding-right: 32%;
padding-top: 2%;
text-align: center;
font-size: 45px;
font-weight: bolder;
}

.mapSelection {
    width: 100%;
    height: 100%;
    padding-left: 22%;
    padding-right: 22%;
    padding-top: 4%;
    text-align: center;
    // font-size: 45px;
    font-weight: bolder;
    padding-bottom: 8%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 45% 45%;
    gap: 0px 0px;
    grid-template-areas:
      "mapSelection-Header mapSelection-Header"
      "mapSelection-Ls mapSelection-Rs"
      "mapSelection-Ls mapSelection-Rs";
  }
  .mapSelection-Header { 
    grid-area: mapSelection-Header;
    padding-top: 1%;
 }
  .mapSelection-Ls { 
      grid-area: mapSelection-Ls;
        overflow-y: auto;
        overflow-x: hidden;
    ; }
.mapSelection-Rs { grid-area: mapSelection-Rs; }

.regionSpreadSheet{
    padding-right: 12%;
    padding-left: 12%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.regionSpreadSheet {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 15% 20% 15% 35%;
    grid-template-rows: 8% 6% 86%;
    gap: 0px 0px;
    grid-template-areas:
      "SpreadSheet-icon SpreadSheet-title SpreadSheet-title SpreadSheet-title SpreadSheet-title"
      "SpreadSheet-tableHeader SpreadSheet-tableHeader SpreadSheet-tableHeader SpreadSheet-tableHeader SpreadSheet-tableHeader"
      "SpreadSheet-tableBody SpreadSheet-tableBody SpreadSheet-tableBody SpreadSheet-tableBody SpreadSheet-tableBody";
  }
  
.SpreadSheet-title { 
    grid-area: SpreadSheet-title; 
    font-size: 33px;      
    text-align: center;
    margin-left: -18%;
    font-weight: bolder;
    color:white;
    }

.SpreadSheet-title span{ 
        color:rgb(69, 132, 173);
      }
  
  .SpreadSheet-icon { grid-area: SpreadSheet-icon;}
  
  .SpreadSheet-tableHeader { grid-area: SpreadSheet-tableHeader; }
  
  .SpreadSheet-tableBody { grid-area: SpreadSheet-tableBody; }


  .SpreadSheet-table-icons-add{
    color: rgb(4, 224, 4);

  }
  .SpreadSheet-table-icons-undo-redo{
        color:white;

  }

  .SpreadSheet-table-icons-add:hover{
    color:green;

  }
  